.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }
}

.form-row{
  display: flex;
  flex-direction: column;  
  margin-bottom: $m-size;
  > input {
    margin-bottom: $m-size;
    // display: block;  
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  color: sandybrown;
  font-style: italic;
  font-weight: bold;
}
